<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Storage.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="StorageAccount" value="DefaultEndpointsProtocol=https;AccountName=generalvmstoragefeb191;AccountKey=xBXVYA+MUFPWBT+ovWIWy0qpcf2jyaMpUnZdgZsvbFe7psM1zwwTn4ByUfCicpS3tby5hXbupTLtMoOd4OW7yA==;" />
    <add key="CosmosDB" value="DefaultEndpointsProtocol=https;AccountName=276bc538-0ee0-4-231-b9ee;AccountKey=cBJL0IdjMlFtBpum7m16RyqU1dukMXv2Ix1VU989ExXlfDiQaqyKkxiAZWWtyzRNq5McZZMgK68egXOukb1Lrg==;TableEndpoint=https://276bc538-0ee0-4-231-b9ee.table.cosmosdb.azure.com:443/" />
  </appSettings>
</configuration>