<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SearchServiceName" value="hotelsearchamol"/>
    <add key ="SearchServiceAdminApiKey" value="A25DD43351501BAB25F89515F93CD822"/>
    <add key="SearchServiceQueryApiKey" value="D4AA6369EE3B58E64471DB8E27B2B098"/>
  </appSettings>
</configuration>