<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="RedisConnection" value="ToBeDeletedCache.redis.cache.windows.net:6380,password=vpJUUSW3ihrsJS5onQdGFuoXTjP7qzbeLAE+A/Em0gY=,ssl=True,abortConnect=False"/>
  </appSettings>
</configuration>